.header {
    height: 95vh;

    //- add gradient to the image 'linear-gradient(direction, from-color, to-color)', we first specify the gradient first then the url()
    background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)
        ),
        url('../img/hero.jpg');

    //- background-size: cover tries to fit the image inside the box to use the whole available width. it will shrink the image until hit the height of the image
    background-size: cover;

    //- this ensures that the top of the image is always visible, and the bottom is cropped if bigger the than the available space
    background-position: top;

    //- clip image - hide part of the image
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    @include mq-manager(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 3.5rem;
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
