/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;

    //- the `box-sizing: border-box;` removes the box margin and padding to not be considered in the total width or total height of the element
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;

    //- 1.7 times bigger than the font height
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;

    //- add gradient to the image 'linear-gradient(direction, from-color, to-color)', we first specify the gradient first then the url()
    background-image: linear-gradient(
            to right bottom,
            rgba(126, 213, 111, 0.8),
            rgba(40, 180, 131, 0.8)
        ),
        url('../img/hero.jpg');

    //- background-size: cover tries to fit the image inside the box to use the whole available width. it will shrink the image until hit the height of the image
    background-size: cover;

    //- this ensures that the top of the image is always visible, and the bottom is cropped if bigger the than the available space
    background-position: top;

    //- clip image - hide part of the image
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    &__logo-box {
        position: absolute;
        top: 40px;
        left: 40px;
        &__logo {
            height: 35px;
        }
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        &__heading-primary {
            color: white;
            text-transform: uppercase;
            margin-bottom: 60px;

            //! Animation - a hack to fix shaking transform
            backface-visibility: hidden;
            &__main {
                display: block;
                font-size: 60px;
                font-weight: 400;
                letter-spacing: 35px;

                //! Calling the animation
                animation-name: moveInLeft;
                animation-duration: 1s;
                // animation-delay: 3s;
                // animation-iteration-count: 3;
                animation-timing-function: ease-in-out;
            }
            &__sub {
                display: block;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 17.4px;

                //! Calling the animation - shorthand
                animation: moveInRight 1s ease-in-out;
            }
        }
        &__btn {
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            border-radius: 100px;

            //_ EASIEST - TRANSFORM
            transition: all 0.2s;
            position: relative;

            //- Type of animation, duration, mode, delay
            animation: moveInBottom 0.5s ease-out 0.75s;

            //- The animation-fill-mode applies the animation styles before the animation starts
            animation-fill-mode: backwards;

            &--white {
                @extend .header__text-box__btn;
                background-color: white;
                color: #777;
                padding: 15px 40px;
                &::after {
                    background-color: white;
                }
            }
            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                &::after {
                    transform: scaleX(1.4) scaleY(1.6);
                    opacity: 0;
                }
            }
            &:active {
                transform: translateY(-1px);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            }
            &::after {
                content: '';
                display: inline-block;
                height: 100%;
                width: 100%;
                border-radius: 100px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: all 0.4s;
            }
        }
    }
}

//= THERE IS TWO TYPES OF ANIMATIONS IN CSS - ADVANCED
@keyframes moveInLeft {
    //+ Before the animation starts
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    //+ Middle of the animation
    80% {
        transform: translateX(10px);
    }

    //+ When the animation finishes
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
